{% macro with_errors(field) %}
<div class="form_field">
    {% if field.errors %}
    {% set label_class = 'text-red-600 font-semibold text-sm text-gray-600 pb-1 block' %}
    {% set input_class = 'ring-2 ring-red-600 text-red focus:outline-none focus:ring-2 focus:ring-red-600
    focus:border-transparent text-red-600' +
    kwargs.pop('class',
    '') %}
    {{ field.label(class=label_class, **kwargs) }}
    {{ field(class=input_class, **kwargs) }}
    {% else %}
    {{ field.label(class="font-semibold text-sm text-gray-600 pb-1 block") }}
    {{ field(**kwargs) }}
    {% endif %}
</div>
{% endmacro %}