FLASK_APP="server.py"
FLASK_DEBUG=True
SECRET_KEY=_JkyATCJCvqmH4KTkzj2z1sP928DpBol1uBcEiwXV3I=
FLASK_ENV=development

DB_HOST=localhost
DB_USER=
DB_PASSWORD=
DB_DATABASE=

MAIL_SERVER=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=

CELERY_BROKER_URL = redis://localhost:6379
CELERY_RESULT_BACKEND = redis://localhost:6379