Flask==2.2.2
gunicorn==20.1.0
autopep8==1.7.0
psycopg2==2.9.3
mysqlclient==2.1.1
python-dotenv==0.20.0
Flask-Mail==0.9.1
celery==5.2.7
redis==4.3.4
Flask-Caching==2.0.1
filedepot==0.8.0
cryptography==37.0.4
pytest==7.1.2
Flask-Login==0.6.2
Flask-WTF==1.0.1
email-validator==1.2.1
Flask-SQLAlchemy==2.5.1
Flask-Migrate==3.1.0
